@page "/cargoManagement"
<PageTitle>Cargo Management</PageTitle>

<div class="search">
    <LiveSearch />
</div>

<CargoCard 
    CargoId="12345"
    Status="On Route"
    Destination="52°20'39 N 4°58'19 E"
/>

<CargoCard 
    CargoId="12345"
    Status="On Route"
    Destination="52°20'39 N 4°58'19 E"
/>

<CargoCard 
    CargoId="12345"
    Status="On Route"
    Destination="52°20'39 N 4°58'19 E"
/>