.logo[b-40ub3i877q] {
    width: 200px;
}

.nav-scrollable[b-40ub3i877q] {
    display: block;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
}

.top-row[b-40ub3i877q] {
    min-height: 3.5rem;
}