.idea
appsettings.json
ERD.asta.lock

Thumbs.db

.vs/
.vscode/
*.sln.iml

.swp
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.ilk
*.iobj
*.ipdb
*.cache
*.log
node_modules/
target/
dist/
out/
build/


*.db
*.sqlite
cache/
*.lock