@code {
    [Parameter] public string CargoId { get; set; } = "Unknown ID";
    [Parameter] public string Status { get; set; } = "Unknown";
    [Parameter] public string Destination { get; set; } = "Unknown";
}

<div class="cargo-card">
        <img src="images/cargoImage.png" alt="Truck Image" class="truck-image" />
        <h2>@CargoId</h2>
        <p>Status: @Status</p>
        <p>Destination: @Destination</p>
</div>