@using ShipAndThread.Domain.Entities
@using ShipAndThread.Domain.Enums
@code {
    [Parameter] public Cargo Cargo { get; set; }
}

<div class="cargo-card">
        <img src="images/cargoImage.png" alt="Truck Image" class="truck-image" />
        <h2>@Cargo.Id</h2>
        <p>Status: @Cargo.Status</p>
        <p>Truck Id: @Cargo.TruckId</p>
</div>