@inject IJSRuntime JS
@using ShipAndThread.Domain.Entities
@rendermode InteractiveServer

<div id="@MapId" style="width: 100%; height:  400px; border: 1px solid #000000"></div>

@code {
    [Parameter] public double Latitude { get; set; } = 52.3676;
    [Parameter] public double Longitude { get; set; } = 4.9041;
    [Parameter] public int Zoom { get; set; } = 12;
    [Parameter] public List<TruckMarker> Trucks { get; set; } = new();
    [Parameter] public string MapId { get; set; } = $"map-{Guid.NewGuid()}";

    private bool _mapInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initMap", MapId, Latitude, Longitude, Zoom);
            _mapInitialized = true;
        }

        if (_mapInitialized && Trucks.Any())
        {
            await JS.InvokeVoidAsync("addTruckMarkers", MapId, Trucks);
        }
    }

    private List<LocationHistory> ValidRouteStops(List<LocationHistory> routeStops)
    {
        var validStops = routeStops
            .Where(stop => stop.Latitude != 0 && stop.Longitude != 0)
            .OrderBy(stop => stop.Timestamp)
            .ToList();

        foreach (var stop in routeStops.Where(stop => stop.Latitude == 0 || stop.Longitude == 0))
        {
            Console.WriteLine($"Invalid Stop: Truck {stop.TruckId} at {stop.Timestamp} - {stop.Latitude}, {stop.Longitude}");
        }

        return validStops;
    }

    public class TruckMarker
    {
        public string TruckId { get; set; } = "";
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public string Color { get; set; } = "";
    }
}