<div class="top-row ps-3 navbar">
    <a class="mb-4" href="">
        <img class="logo" src="images/logo-yellow-bg.png" alt="logo"/>
    </a>
    
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="truckManagement">
                    Truck Management
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cargoManagement">
                    Cargo Management
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="liveTracking">
                    Live Tracking
                </NavLink>
            </div>
        </nav>
    </div>
</div>